<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Üdvözüljük!</title>
	<link rel="stylesheet" href="../static/style.css"/>
<head>

<body>

	<section id="wrapper">
		<h1>Üdvözüljük!</h1>
		<div class="box effect-1">
			<img src="../static/doge1.jpg" alt=""/>
			<div>Bejelentkezés</div>
		</div>
		
		<div class="box effect-2">
			<img src="../static/doge2.jpg" alt=""/>
			<a href="reg.html"> <div>Regisztráció</div> </a>
		</div>
		
		<div class="box effect-3">
			<img src="../static/doge3.jpg" alt=""/>
			<a href="about.html"> <div>Rólunk</div> </a>
		</div>
		
		<div class="box effect-4">
			<img src="../static/doge4.jpg" alt=""/>
			<div>Kapcsolat</div>
		</div>

        </section>

</body>
</html>